.um{
    width: 100px;
    height: 100px;
    background-color: black;       
}

.dois{
    width: 100px;
    height: 100px;
    background-color: red;   
}    

.tres{
    width: 100px;
    height: 100px;
    background-color: yellow;  
}
    


   

